<link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

<div class="container mx-auto p-0 mb-3">
    <nav class="navbar flex items-center justify-center bg-light bg-gray-900 py-2 px-5 lg:px-0">
        <a href="#" class="navbar-brand block lg:hidden">
            <h1 class="m-0 text-2xl text-white uppercase"><span class="text-primary">ECO</span>Blog</h1>
        </a>
        <button type="button" class="navbar-toggler lg:hidden" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="hidden lg:flex lg:items-center" id="navbarCollapse">
            <div class="flex items-center space-x-4">
                <ng-container *ngFor="let category of categoryArray">
                    <a [routerLink]="['/categories', category.categoryId]" routerLinkActive="font-semibold active"
                        class="nav-item nav-link">{{category.categoryName | uppercase}}</a>
                </ng-container>
            </div>
        </div>
    </nav>
</div>



<router-outlet></router-outlet>


<div class="mx-auto max-w-7xl px-4 lg:px-8">
    <div
        class="mx-auto mt-3 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div *ngFor="let postData of latestPosts">
            <a [routerLink]="['/singleblog' ,postData.id ]" class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex items-center gap-x-4 text-xs">
                    <time datetime="2020-03-16" class="text-gray-500">{{ postData.createdAt | date }}</time>
                    <a href="#"
                        class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{
                        postData.categoryName }}</a>
                </div>
                <div class="group relative">
                    <img class="w-full mt-2 h-60 object-cover object-center rounded-xl" [src]="postData.imgPath" alt="">
                    <h2 class="mt-3 text-xl font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                        <a href="#">
                            <span class="absolute inset-0"></span>
                            {{ postData.title }}
                        </a>
                    </h2>
                    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ postData.subtitle}}</p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                    <img [src]="postData.imgPath" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                    <div class="text-sm leading-6">
                        <p class="font-semibold text-gray-900">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                {{postData.authorName}}
                            </a>
                        </p>
                        <p class="text-gray-600">{{postData.authorRole}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>