<link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

<div class="mt-5 mb-5 mx-auto max-w-full">
    <div
        class="border-gray-300 shadow-sm focus:outline-none focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-l-md relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3" style="width: 5%;">
                        No
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 15%;">
                        Img
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 10%;">
                        Title
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 10%;">
                        Subtitle
                    </th>  
                    <th scope="col" class="px-6 py-3" style="width: 10%;">
                        Author
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 10%;">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 20%;">
                        Content
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 10%;">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3" style="width: 20%;">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsArray; let i = index"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">
                        {{i+1}}
                    </td>
                    <td class="px-6 py-4">
                        <img src="{{post.imgPath}}" class="mt-2 mb-2 w-full img-fluid" alt="">
                    </td>
                    <td class="px-6 py-4">
                        {{post.title}}
                    </td>
                    <td class="px-6 py-4">
                        {{post.subtitle}}
                    </td>
                    <td class="px-6 py-4">
                            {{post.authorName}}-{{post.authorRole}}
                    </td>
                    <td class="px-6 py-4">
                        {{post.categoryId}}-{{post.categoryName}}
                    </td>
                    <td class="px-6 py-4">
                        {{post.content}}
                    </td>
                    <td class="px-6 py-4">
                        {{post.createdAt | date}}
                    </td>
                    <td class="px-6 py-4">
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                            routerLink="/addpost" [queryParams]="{id: post.id}">Edit</button>
                        <button (click)="delete(post.id)" class="ml-3 font-medium text-red-600 dark:text-red-500 hover:underline">Delete</button>
                        <!-- <button (click)="onFeatured(post.id,true)" *ngIf="!post.isFeatured" class="ml-3 font-medium text-yellow-600 dark:text-yellow-500 hover:underline">Mark Featured</button> -->
                        <!-- <button (click)="onFeatured(post.id,false)" *ngIf="post.isFeatured" class="ml-3 font-medium text-green-600 dark:text-green-500 hover:underline">Remove Featured</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>